__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

.cache/
logs/
*.log
*.zip
*.tmp

rulesets/

merged-rules/
merged-rules-mrs/

mihomo

.idea/

.DS_Store
Thumbs.db
desktop.ini

.ruff_cache/
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
pytest-cache-files-*/

.tools/

